:root {
	--green-bg: #0a775f;
	--black-color: #000000;
	--text-color: #333333;
	--white-color: #ffffff;
	--gold-bg: #f3d7b7;
	--darkgold-bg: #c99b67;
	--light-bg: #f8f8f2;
}

/* FOONTS  */

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--green-bg);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.55;
	font-size: 18px;
	overflow-x: hidden;
}

.container {
	max-width: 1380px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	border: none;
	padding: 16px 24px;
	border-radius: 100px;
	background-color: var(--green-bg);
	color: var(--white-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

.main-content {
	flex-grow: 1;
	padding-top: 20px;
	padding-bottom: 50px;
}

.site-header-wrapper {
	padding-top: 40px;
	background-color: var(--gold-bg);
}

.site-header {
	margin-bottom: 40px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-logo {
	width: 235px;
	height: 24px;
	display: inline-block;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	text-transform: uppercase;
	color: var(--text-color);
	transition: all 0.4s ease;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.2;
	font-weight: 700;
}

.site-nav__link:hover {
	color: var(--green-bg);
}

.site-nav__link:active {
	opacity: 0.6;
}

/* HERO */

.hero {
	padding-top: 40px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 464px;
	width: 100%;
	margin-right: 50px;
}

.hero__info-title {
	color: var(--black-color);
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	margin-bottom: 24px;
}

.hero__info-text {
	font-size: 16px;
	color: var(--black-color);
	margin-bottom: 34px;
}

.hero__img-wrapper {
	position: relative;
	width: 710px;
	height: 696px;
}

.hero__img-wrapper img {
	object-fit: cover;
}

.hero__img-wrapper__logo {
	position: absolute;
	top: -80px;
	left: -80px;
	width: 160px;
	height: 160px;
}

/* OUR-COLLECTION */

.our-collaction {
	margin-bottom: 20px;
}

.our-collaction__img-one {
	position: absolute;
	top: 0;
	left: -201px;
}

.our-collaction__img-two {
	position: absolute;
	bottom: 50%;
	right: -201px;
}

.our-collaction__img-three {
	position: absolute;
	bottom: 170px;
	left: -201px;
}

.our-collection__container {
	position: relative;
	background-image: url(../img/our-collaction-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--light-bg);
	padding-top: 50px;
	padding-bottom: 50px;
}

.our-collection__title {
	text-align: center;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	color: var(--black-color);
	margin-bottom: 80px;
}

.our-collection__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.our-collection__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.our-collection__item:not(:last-child) {
	margin-bottom: 20px;
}

.our-collection__item:nth-child(2n) {
	flex-direction: row-reverse;
}

.our-collaction__img {
	width: 450px;
	height: 375px;
	object-fit: cover;
	margin-right: 117px;
}

.our-collaction__img2 {
	margin-right: 0;
	margin-left: 117px;
}

.our-collection__item-info {
	max-width: 410px;
}

.our-collection__item-info__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.2;
}

.our-collection__item-info__text {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 400;
}

/* INDEX_COLLACTION */

.index-collaction {
	margin-bottom: 289px;
}

.index-collaction__inner {
	position: relative;
	background-color: var(--darkgold-bg);
	background-image: url(../img/index-collaction-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 420px;
}

.index-collaction__info {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	max-width: 518px;
	width: 100%;
	text-align: center;
	color: var(--white-color);
	margin-bottom: 80px;
}

.index-collaction__list {
	position: absolute;
	display: flex;
	padding: 0;
	margin-left: -10px;
}

.index-collaction__item:nth-child(1) {
	position: relative;
}

.index-collaction__item-logo {
	position: absolute;
	left: -64px;
	top: -68px;
}

.index-collaction__item:not(:last-child) {
	margin-right: 22px;
}

.index-collaction__img {
	width: 433px;
	height: 500px;
	object-fit: cover;
	margin-bottom: 28px;
}

.index-collaction__item-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.how-it-works__inner {
	position: relative;
	background-image: url(../img/how-it-works-bg.jpg);
	padding: 50px 30px;
}

.how-it-works__img {
	position: absolute;
	right: 68px;
	top: 41px;
}

.how-it-works__title {
	text-align: center;
	font-weight: 700;
	color: var(--white-color);
	font-size: 50px;
	line-height: 1.2;
	margin-bottom: 80px;
}

.how-it-works__kvadrat {
	max-width: 966px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-image: url(../img/how-it-works-line.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
}
.how-it-works__kvadrat-inner {
	width: 60px;
	height: 60px;
	background-color: var(--white-color);
	border: 4px solid var(--darkgold-bg);
}

.how-it-works__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

.how-it-works__item {
	max-width: 433px;
	width: 100%;
	background-color: var(--white-color);
	padding: 20px 20px 40px;
	color: var(--text-color);
}

.how-it-works__item:not(:last-child) {
	margin-right: 20px;
}

.how-it-works__item-number {
	font-weight: 400;
	font-size: 60px;
	text-align: right;
	line-height: 1.2;
	margin-bottom: 45px;
}

.how-it-works__item-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.how-it-works__btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.how-it-works-btn {
	background-color: var(--darkgold-bg);
}

.how-it-works__btn:focus {
	outline: 2px dotted var(--darkgold-bg);
	outline-offset: 3px;
}

/* SITE-FOOTER */

.site-footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

.site-footer__bottom {
	padding-top: 40px;
}

.site-footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-footer__top-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer__top-item {
	margin-right: 16px;
}

.site-footer__top-link {
	color: #252420;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer__top-link svg {
	transition: all 0.4s ease;
}

.site-footer__top-link svg:hover {
	color: var(--green-bg);
}

.site-footer__top-link svg:active {
	opacity: 0.6;
}

/* OUR COMITMENT */

.our-comitment {
	margin-bottom: 160px;
}

.our-comitment__inner {
	position: relative;
	padding: 160px 64px 200px 165px;
	background-image: url(../img/our-commitment-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.our-comitment__img-wrapper {
	margin-right: 185px;
}

.our-comitment__info {
	max-width: 626px;
	width: 100%;
}

.our-comitment-title {
	margin-bottom: 24px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.2;
	color: var(--black-color);
}

/* UNCOMPROMISING-QUALITY */

.uncompromising-quality {
	margin-bottom: 20px;
}

.uncompromising-quality__inner {
	background-image: url(../img/uncopromising-quality-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: var(--white-color);
	padding: 100px 30px 118px 143px;
	position: relative;
}

.uncompromising-quality__info {
	max-width: 539px;
	width: 100%;
}

.uncompromising-quality__title {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.2;
	max-width: 397px;
	text-transform: uppercase;
}

.uncompromising-quality__text {
	line-height: 1.7;
}

.uncompromising-quality__img {
	width: 550px;
	height: 500px;
	object-fit: cover;
	position: absolute;
	right: 30px;
	top: -90px;
}